/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text-color: #212121;
  --blue-text-color: #2196F3;
  --white-text-color: #FFFFFF;
  --footer-contacts-text: rgba(255, 255, 255, 0.6);
  --add-text-color: #757575;
  --main-bgd: #FFFFFF;
  --hero-footer-bgd: #2F303A;
  --add-bgd: #F5F4FA;
  --button-active-bgd: #2196F3;
  --stroke-color: #ECECEC;
  --link-color: #AFB1B8;
  --card-overlay-bgd: rgba(33, 150, 243, 0.9);
  --main-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--main-bgd);
  color: var(--main-text-color);
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .disabled {
    display: none;
  }
}
.list {
  list-style: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .second-header {
    margin-bottom: 50px;
  }
}

.social-networks-logo {
  fill: currentColor;
}

.footer-logo, .header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms var(--main-timing-func);
}
.footer-logo:hover, .header-logo:hover {
  color: var(--blue-text-color);
}
.footer-logo:focus, .header-logo:focus {
  color: var(--blue-text-color);
}
@media screen and (min-width: 768px) {
  .footer-logo, .header-logo {
    font-size: 24px;
  }
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.footer-logo {
  color: var(--white-text-color);
}

.logo-item {
  color: var(--blue-text-color);
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid var(--stroke-color);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .desctop-nav {
    margin-left: 92px;
  }
}

.nav-menu {
  display: flex;
}
.nav-menu__item {
  margin-left: 50px;
}
.nav-menu__item:first-child {
  margin-left: 0;
}

.nav-menu__link {
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms var(--main-timing-func);
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms var(--main-timing-func);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--blue-text-color);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--blue-text-color);
}
.nav-menu__link--current {
  position: relative;
  color: var(--blue-text-color);
}
.nav-menu__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: var(--button-active-bgd);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 315px;
  }
}

.header-contacts__item {
  margin-bottom: 10px;
}
.header-contacts__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--add-text-color);
  transition: color 250ms var(--main-timing-func);
}
.header-link__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-link:hover, .header-link:focus {
  color: var(--blue-text-color);
}
@media screen and (min-width: 1200px) {
  .header-link {
    display: flex;
    align-items: center;
  }
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bgd);
  padding: 48px 40px;
  z-index: 999;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transform: translateX(100%);
  transition: transform 250ms var(--main-timing-func);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 15px;
  border: 0;
  background-color: transparent;
  padding: 12px;
}
.menu-button:hover, .menu-button:focus {
  fill: var(--blue-text-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-list {
  margin-bottom: 302px;
}

.mobile-list__item {
  margin-bottom: 32px;
}

.mobile-list__link {
  text-decoration: none;
  font-size: 40px;
  color: var(--main-text-color);
  transition: color 250ms var(--main-timing-func);
}
.mobile-list__link:hover, .mobile-list__link:focus {
  color: var(--blue-text-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  text-decoration: none;
  font-size: 34px;
  color: var(--blue-text-color);
}
@media screen and (max-width: 368px) {
  .mobile-contacts__link {
    font-size: 32px;
  }
}
.mobile-contacts__link--mail {
  font-size: 24px;
  color: var(--add-text-color);
}

.mobile-social__item {
  display: inline-block;
  text-decoration: none;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 459px) {
  .mobile-social__item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.mobile-social__item:last-child {
  border-right: 0;
}
.mobile-social__item:first-child {
  padding-left: 0;
}

.mobile-social__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.22;
  color: var(--blue-text-color);
}
@media screen and (max-width: 459px) {
  .mobile-social__link {
    font-size: 14px;
  }
}

.footer {
  background-color: var(--hero-footer-bgd);
}

.footer__box {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .tablet-address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: start;
  }
}

.footer-data {
  margin-top: 20px;
}

.footer-data__address {
  color: var(--white-text-color);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--main-timing-func);
}
.footer-data__address:hover, .footer-data__address:focus {
  color: var(--blue-text-color);
}

.footer-data__contact {
  display: block;
  margin-top: 9px;
  color: var(--footer-contacts-text);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms var(--main-timing-func);
}
.footer-data__contact:hover, .footer-data__contact:focus {
  color: var(--blue-text-color);
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__links {
    width: 206px;
    height: 80px;
    padding: 12px;
    margin-left: 70px;
  }
}

.footer-item {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white-text-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-item {
    text-align: start;
  }
}

.studio-online {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.studio-box {
  margin-right: 10px;
}
.studio-box:last-child {
  margin-right: 0;
}

.studio-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
  transition: background-color 250ms var(--main-timing-func);
}
.studio-link:hover, .studio-link:focus {
  background-color: var(--button-active-bgd);
}

.subscribe-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-top: 0;
    margin-left: 93px;
    padding-top: 12px;
  }
}

.subscribe-form__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__box {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__box {
    flex-direction: row;
    width: 570px;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-text-color);
  transition: border 250ms var(--main-timing-func);
}
.subscribe-form__input:focus {
  outline: 0;
  border: 1px solid var(--blue-text-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    max-width: 358px;
  }
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--button-active-bgd);
  border: var(--button-active-bgd);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-top: 0;
    margin-left: 28px;
  }
}

.subscribe-form__icon {
  margin-left: 12px;
}

.hero {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-footer-bgd);
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob-1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__box {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tab-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desc-1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__box {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desc-2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: none;
  background-color: var(--button-active-bgd);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  transition: color 250ms var(--main-timing-func);
}
.hero__button:hover, .hero__button:focus {
  cursor: pointer;
  color: var(--main-text-color);
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .skill-card {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .skill-card {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.skill-card__logo {
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--add-bgd);
}
.skill-card__item {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .skill-card__item {
    text-align: start;
  }
}
.skill-card__descr {
  line-height: 1.71;
}

.works-box {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works-box {
    display: block;
    text-align: center;
    padding-bottom: 94px;
  }
  .works__grid {
    display: flex;
    margin-top: 50px;
  }
  .work-card {
    margin-left: 30px;
    position: relative;
  }
  .work-card:first-child {
    margin-left: 0;
  }
  .work-card__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .work-card__name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    background: rgba(47, 48, 58, 0.8);
  }
}
.team-section {
  background-color: var(--add-bgd);
}

.team {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-mate {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bgd);
}
@media screen and (max-width: 767px) {
  .team-mate {
    margin-bottom: 30px;
  }
  .team-mate:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team-mate {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-mate {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-mate__name {
  margin-top: 30px;
}

.team-mate__position {
  margin-top: 10px;
  color: var(--add-text-color);
}

.team-mate__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-mate__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 24px;
}

.contact {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.contact:last-child {
  margin-right: 0;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--link-color);
  transition: background-color 250ms var(--main-timing-func), color 250ms var(--main-timing-func);
}
.contact__link:hover, .contact__link:focus {
  cursor: pointer;
  background-color: var(--button-active-bgd);
  color: var(--white-text-color);
}

.clients-box {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients-box {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__card {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__card {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__card {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--main-timing-func), color 250ms var(--main-timing-func);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--button-active-bgd);
  color: var(--button-active-bgd);
}

.clients__logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background: rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translateX(-50%) scale(1.2);
  }
}
@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  position: relative;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: var(--main-bgd);
  transform: scale(1);
  transition: transform 250ms var(--main-timing-func);
}
@media screen and (min-width: 768px) {
  .modal {
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bgd);
  transition: fill 250ms var(--main-timing-func);
}
.modal-close:hover {
  fill: var(--button-active-bgd);
  cursor: pointer;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.main-form__item {
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.form-label {
  position: relative;
  margin-bottom: 28px;
}

.form-label:last-child {
  margin-bottom: 0;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms var(--main-timing-func);
}
.form-input:focus {
  outline: 0;
  border: 1px solid var(--blue-text-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 250ms var(--main-timing-func);
}
.form-comment:focus {
  outline: 0;
  border: 1px solid var(--blue-text-color);
}

.form-name {
  position: absolute;
  top: -18px;
  left: 0;
  letter-spacing: 0.01em;
  color: var(--add-text-color);
}

.form-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
  transition: fill 250ms var(--main-timing-func);
}
.form-input:focus ~ .form-icon {
  fill: var(--blue-text-color);
}

.checkbox-label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: var(--main-bgd);
  transition: border-color 250ms var(--main-timing-func), background-color 250ms var(--main-timing-func);
}
.checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--button-active-bgd);
}

.contract-terms {
  color: var(--blue-text-color);
  margin-left: 5px;
}

.send-button {
  width: 200px;
  height: 50px;
  color: var(--white-text-color);
  background: var(--button-active-bgd);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: color 250ms var(--main-timing-func);
}
.send-button:hover {
  cursor: pointer;
  color: var(--main-text-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 16px;
}

.filter-item {
  text-align: center;
  margin-left: 8px;
}
.filter-item:first-child {
  margin-left: 0;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  background-color: var(--add-bgd);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  transition: background-color 250ms var(--main-timing-func), color 250ms var(--main-timing-func), box-shadow 250ms var(--main-timing-func);
}
.filter-button:hover, .filter-button:focus {
  background-color: var(--button-active-bgd);
  color: var(--white-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-gallery {
  margin-top: 34px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.product {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: transform 250ms var(--main-timing-func), box-shadow 250ms var(--main-timing-func);
}
.product:hover, .product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.product:nth-child(3n) {
  margin-right: 0px;
}
.product:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.product__thumb {
  position: relative;
  top: 0;
  left: 0;
  height: 294px;
  overflow: hidden;
}

.product__img {
  display: block;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--card-overlay-bgd);
  transform: translateY(100%);
  transition: transform 250ms var(--main-timing-func);
}
.product:hover .product__overlay {
  transform: translateY(0);
}

.product__descr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0;
  height: 168px;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bgd);
}

.product__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--stroke-color);
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--add-text-color);
}/*# sourceMappingURL=main.css.map */