@import './base/nolmalize';
@import './utils/vars';
@import './utils/mixins';
@import './components/logo';
@import './components/page-header';
@import './components/page-footer';
@import './components/hero-section';
@import './components/skill-section';
@import './components/work-section';
@import './components/team-section';
@import './components/clients-section';
@import './components/modal-form';
@import './components/filter-gallery';
@import './components/gallery';