.clients-box {
    // text-align: center;
}

.clients {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // padding: 0;
    // padding-top: 50px;
}

.clients__card {
    // margin-right: 30px;

    // &:last-child {
    //     margin-right: 0;
    // }
}

.clients__link {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 170px;
    // height: 92px;
    // color: var(--link-color);
    // border: 1px solid var(--link-color);
    // border-radius: 4px;
    // cursor: pointer;

    // transition: border 250ms var(--main-timing-func), $colorTransition;

    // &:hover,
    // &:focus {
    //     border: 1px solid var(--button-active-bgd);
    //     color: var(--button-active-bgd);
    // }
}

.clients__logo {
    fill: currentColor;
}