// .product-gallery {
//     // margin-top: 34px;
// }

// .product-grid {
//     // display: flex;
//     // flex-wrap: wrap;
//     // padding-left: 0;
// }

// .product {
//     // width: 370px;
//     // margin-right: 30px;
//     // margin-bottom: 30px;

//     // transition: transform 250ms var(--main-timing-func), box-shadow 250ms var(--main-timing-func);

//     // &:hover,
//     // &:focus {
//     //     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//     //         0px 4px 4px rgba(0, 0, 0, 0.06),
//     //         1px 4px 6px rgba(0, 0, 0, 0.16);
//     //     cursor: pointer;
//     // }

//     // &:nth-child(3n) {
//     //     margin-right: 0px;
//     // }

//     // &:nth-last-child(-n+3) {
//     //     margin-bottom: 0px;
//     // }
// }

// .product__thumb {
//     // position: relative;
//     // top: 0;
//     // left: 0;
//     // height: 294px;
//     // overflow: hidden;
// }

// .product__img {
//     // display: block;
// }

// .product__overlay {
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     // width: 100%;
//     // height: 100%;
//     // background-color: var(--card-overlay-bgd);
//     // transform: translateY(100%);
//     // transition: transform 250ms var(--main-timing-func);

//     // .product:hover & {
//     //     transform: translateY(0);
//     // }
// }

// .product__descr {
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
//     // display: inline-block;
//     // margin: 0;
//     // height: 168px;
//     // width: 322px;

//     // font-size: 18px;
//     // line-height: 1.56;
//     // color: var(--main-bgd);
// }

// .product__meta {
//     // padding-top: 20px;
//     // padding-bottom: 20px;
//     // padding-left: 24px;
//     // border: 1px solid var(--stroke-color);
// }

// .product__title {

//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
// }

// .product__type {
//     // margin-top: 4px;
//     font-size: 16px;
//     line-height: 1.88;
//     color: var(--add-text-color);
// }