// .hero {
//     margin-top: 0;
//     margin-bottom: 0;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: var(--hero-footer-bgd);
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url("../img/hero.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }

// .hero__box {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     padding-top: 118px;
//     padding-bottom: 118px;
// }

// // padding-top: 200px;
// // padding-bottom: 200px;

// .hero__title {
//     max-width: 360px;
//     margin-bottom: 30px;
//     color: var(--white-text-color);
//     font-weight: 900;
//     font-size: 26px;
//     line-height: 1.62;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;


//     // margin-bottom: 30px;
//     // width: 696px;

//     // color: var(--white-text-color);
//     // font-weight: 900;
//     // font-size: 44px;
//     // line-height: 1.36;
//     // text-align: center;
//     // letter-spacing: 0.06em;
//     // text-transform: uppercase;
// }

// .hero__button {
//     display: inline-block;
//     border-radius: 4px;
//     padding: 10px 24px;
//     min-width: 200px;
//     border: none;

//     background-color: var(--button-active-bgd);
//     color: var(--white-text-color);
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     align-items: center;
//     letter-spacing: 0.06em;

//     transition: $colorTransition;

//     &:hover,
//     &:focus {
//         cursor: pointer;
//         color: var(--main-text-color);
//     }


//     // display: inline-block;
//     // border-radius: 4px;
//     // padding: 10px 32px;
//     // min-width: 216px;
//     // border: none;

//     // background-color: var(--button-active-bgd);
//     // color: var(--white-text-color);
//     // font-family: inherit;
//     // font-weight: 700;
//     // font-size: 16px;
//     // line-height: 1.88;
//     // align-items: center;
//     // letter-spacing: 0.06em;

//     // transition: $colorTransition;

//     // &:hover,
//     // &:focus {
//     //     cursor: pointer;
//     //     color: var(--main-text-color);
//     // }
// }