%logoPatern {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    transition: $colorTransition;

    &:hover {
        color: var(--blue-text-color);
    }

    &:focus {
        color: var(--blue-text-color);
    }
}

.header-logo {
    @extend %logoPatern;

    // padding-top: 24px;
    // padding-bottom: 25px;
    color: var(--main-text-color);
}

.footer-logo {
    @extend %logoPatern;

    // display: block;
    // padding-top: 60px;
    color: var(--white-text-color);
}

.logo-item {
    color: var(--blue-text-color);
}