.footer {
    background-color: var(--hero-footer-bgd);
}

.footer__box {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
    }
}

.tablet-address {
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.footer__address {
    @media screen and (min-width:1200px) {
        text-align: start;
    }
}

.footer-data {
    margin-top: 20px;
}

.footer-data__address {
    color: var(--white-text-color);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--main-timing-func);

    &:hover,
    &:focus {
        color: var(--blue-text-color);
    }
}

.footer-data__contact {
    display: block;
    margin-top: 9px;
    color: var(--footer-contacts-text);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--main-timing-func);

    &:hover,
    &:focus {
        color: var(--blue-text-color);
    }
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    @media screen and (min-width:768px) {
        margin-top: 0;
    }

    @media screen and (min-width:768px) {
        width: 206px;
        height: 80px;
        padding: 12px;
        margin-left: 70px;
    }
}

.footer-item {
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--white-text-color);
    text-transform: uppercase;

    @media screen and (min-width:1200px) {
        text-align: start;
    }
}

.studio-online {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.studio-box {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.studio-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-text-color);

    transition: background-color 250ms var(--main-timing-func);

    &:hover,
    &:focus {
        background-color: var(--button-active-bgd);
    }
}


.subscribe-form {
    margin-top: 60px;

    @media screen and (min-width:1200px) {
        margin-top: 0;
        margin-left: 93px;
        padding-top: 12px;
    }
}

.subscribe-form__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @media screen and (min-width:768px) and (max-width:1199px) {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        width: 570px;
    }
}

.subscribe-form__input {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-text-color);
    transition: border 250ms var(--main-timing-func);

    &:focus {
        outline: 0;
        border: 1px solid var(--blue-text-color);
    }

    @media screen and (min-width:1200px) {
        max-width: 358px;
    }
}

.subscribe-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background: var(--button-active-bgd);
    border: var(--button-active-bgd);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    width: 200px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;

    @media screen and (min-width:1200px) {
        margin-top: 0;
        margin-left: 28px;
    }
}

.subscribe-form__icon {
    margin-left: 12px;
}