.skills {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.skill-list {

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.skill-card {
    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width:1200px) {
        flex-basis: calc((100% - 120px) / 4);
        margin: 15px;
    }

    &__logo {
        margin-bottom: 30px;
        max-width: 450px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--add-bgd);
    }

    &__item {
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;

        @media screen and (min-width:768px) {
            text-align: start;
        }
    }

    &__descr {
        line-height: 1.71;
    }
}