// .skill-list {
//     // display: flex;
//     // padding-left: 0;
// }

// .skill-card {
//     // width: 270px;
//     // margin-left: 30px;
//     // padding: 0;

//     // &:first-child {
//     //     margin-left: 0px;
//     // }

//     // &__logo {
//     //     margin-bottom: 30px;
//     //     width: 270px;
//     //     height: 120px;
//     //     display: flex;
//     //     justify-content: center;
//     //     align-items: center;
//     //     background-color: var(--add-bgd);
//     // }

//     // &__item {
//     //     font-weight: 700;
//     //     margin-bottom: 10px;
//     // }

//     // &__descr {
//     //     line-height: 1.71;
//     // }

//     // &__img {
//     //     display: block;
//     //     align-items: center;
//     //     justify-content: center;
//     // }
// }