.works-box {
    display: none;
}

@media screen and (min-width:1200px) {
    .works-box {
        display: block;
        text-align: center;
        padding-bottom: 94px;
    }

    .works__grid {
        display: flex;
        // padding-left: 0;
        // padding-right: 0;
        margin-top: 50px;
    }

    .work-card {
        margin-left: 30px;
        position: relative;

        &:first-child {
            margin-left: 0;
        }
    }

    .work-card__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .work-card__name {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;

        text-align: center;
        text-transform: uppercase;

        color: var(--white-text-color);
        background: rgba(47, 48, 58, 0.8);
    }
}